<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <add key="sdk8dir" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v8.0A\bin\NETFX 4.0 Tools\x64"/>
    <add key="sdkDir" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Bin\NETFX 4.0 Tools"/>
    <!--<add key="sdkDir2" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Bin"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
